@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
      transition: inherit;
  }

  html {
    font-size: clamp(13px, 2vw, 16px);
  }

  #root {
    @apply
    flex flex-col justify-between min-h-screen
    text-gray-900 dark:text-white
    bg-gray-200 dark:bg-zinc-800
    selection:text-white selection:bg-zinc-700 selection:dark:text-black selection:dark:bg-white
    transition-colors duration-100 ease-out
  }

  h1 {
    @apply
    text-3xl
    font-semibold
  }
  
  h2 {
    @apply
    text-xl
    font-semibold
  }

  h3 {
    @apply
    text-lg
    font-medium
  }

  h4 {
    @apply
    text-base
    font-medium
  }

  h5 {
    @apply
    text-sm
    font-medium
  }

  h6 {
    @apply
    text-xs
    font-medium
  }

  a {
    @apply
    font-medium
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}